article.main {
    margin: 1em;
    padding: 1em;
}

.margin-1 {
    margin: 1em;
}

.bold {
    font-weight: bold;
}

input[type=radio] {
    opacity: revert !important;
    width: 100% !important;
    position: revert !important;
}
